<div class="footer">
  copyright ITMOStudents
  <br/>
  Страница была загружена за {{time}} ms (server) + <span id="download speed"></span> ms (client)
  <script type="text/javascript" src="/scripts/footer-stopwatch.js"></script>
</div>