<div class="footer">
  copyright ITMOStudents
  <br/>
  Страница была загружена за <span id="download speed"></span> ms
  <script type="text/javascript" src="scripts/footer-stopwatch.js"></script>
</div>