<div class="page__head header">
  <div class="page__left-head left-header">
    <a class="left-header__logo logo" href="https://github.com/jizapika" target="_blank">
      <img
        class="logo__img"
        src="/images/logo.jpg"
        alt=""
      >
    </a>
    {{#if me}}
      <div class="left-header__elem simple-block">
        <a class="left-header__user-name user-name" href="/">
          <p class="user-name__text">
            {{me.profile.firstname}} {{me.profile.lastname}}
          </p>
        </a>
      </div>
    {{/if}}
    <div class="left-header_current-elem left-header__elem simple-block">
      <a class="left-header__friends user-friends" href="/friends">
        <p class="user-friends__text">
          Друзья
        </p>
      </a>
    </div>
    <div class="left-header__elem simple-block">
      <a class="left-header__messages user-messages" href="/messages">
        <p class="user-messages__text">
          Сообщения
        </p>
      </a>
    </div>
    <div class="left-header__elem simple-block">
      <a class="left-header__settings user-settings" href="/settings">
        <p class="user-settings__text">
          Настройки
        </p>
      </a>
    </div>
  </div>
  {{>authorization_field}}
</div>
<script type="text/javascript" src="scripts/current-header-element.js"></script>
