<button class="header-login-button">Log in</button>
<a href="../pages/index.hbs">
    <img
            class="header-user-avatar"
            src="../../public/Web-Programming-Course/Fellow-Students/images/no-authorization.jpg"
            alt=""
    >
</a>