<button class="header-login-button">Log in</button>
<a href="../pages/index.hbs">
    <img
            class="header-user-avatar"
            src="images/no-authorization.jpg"
            alt=""
    >
</a>