<div class="page__right-head right-header">
  <div class="right-header__elem simple-block">
    <button class="header-logout-button" onclick="logout()"> Log out </button>
  </div>
  <a href="/">
    <img
      class="header-user-avatar"
      src="/images/avatar.jpg"
      alt=""
    >
  </a>
</div>
<style>
  .header-logout-button {
    margin: 0 10px 0 10px;
    background-color: rgba(0, 0, 0, 0);
  }

  .right-header__elem:hover {
    background-color: lime;
    transition: 0.5s;
  }
</style>
<script>
  async function logout() {
    await fetch("/api/v1/auth/signout", {
      method: "post"
    });

    window.location.href = "/";
  }
</script>