<div class="main__monetized-content monetized-content">
  <a class="monetized-content__photo-link"
     href="https://ptoday.ru/novosti-i-sobytiya/sudbu-rossii-i-ukrainy-v-2023-godu-prorochila-vanga-chto-predskazala-providitsa/">
    <img
      class="monetized-content__photo"
      src="images/adv/vanga.bmp"
      alt=""
    >
  </a>
  <a class="monetized-content__photo-link" href="https://www.infoniac.ru/astro/">
    <img
      class="monetized-content__photo"
      src="images/adv/moon.bmp"
      alt=""
    >
  </a>
  <a class="monetized-content__photo-link"
     href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="monetized-content__photo"
      src="images/adv/adblock.bmp"
      alt=""
    >
  </a>
  <p class="warning">
    Вы нарушаете закон Российской Федерации. Пожалуйста, отключите AdBlock и другие блокировщики рекламы, если не
    хотите, чтобы на вас было возбуждено уголовное дело.
  </p>
</div>