{{#each data.posts}}
  <div class="user-content__post post">
    {{#if this.author.profile}}
      <div class="post__author">
        {{this.author.profile.firstname}} {{this.author.profile.lastname}}
      </div>
    {{/if}}
    <div class="post__time">
      {{this.createdAt}}
    </div>
    <div class="post__text">
      {{this.text}}
    </div>
    <div class="post__likes">
      0 likes
    </div>
  </div>
{{/each}}