<div class="page__right-head right-header">
  <div class="right-header__elem simple-block">
    <button class="header-signin-button">
      <a href="/auth/signin"> Sign in </a>
    </button>
  </div>
  <div class="right-header__elem simple-block">
    <button class="header-signup-button">
      <a href="/auth/signup"> Sign up </a>
    </button>
  </div>
  <a href="/">
      <img
              class="header-user-avatar"
              src="/images/no-authorization.jpg"
              alt=""
      >
  </a>
</div>
<style>
  .header-signin-button {
    margin: 0 10px 0 10px;
    background-color: rgba(0, 0, 0, 0);
  }
  .header-signup-button {
    margin: 0 10px 0 10px;
    background-color: rgba(0, 0, 0, 0);
  }

  .right-header__elem:hover {
    background-color: lime;
    transition: 0.5s;
  }
</style>