<div class="page__right-head right-header">
  <div class="right-header__elem simple-block">
    <a href="/auth/signin">
      <p class="header-signin__text"> Sign in </p>
    </a>
  </div>
  <div class="right-header__elem simple-block">
    <a href="/auth/signup">
      <p class="header-signout__text"> Sign up </p>
    </a>
  </div>
  <a href="/">
    <img
      class="header-user-avatar"
      src="/images/no-authorization.jpg"
      alt=""
    >
  </a>
</div>
<style>
  .header-signout__text {
    margin: 0 10px 0 10px;
    background-color: rgba(0, 0, 0, 0);
  }

  .header-signin__text {
    margin: 0 10px 0 10px;
    background-color: rgba(0, 0, 0, 0);
  }

  .right-header__elem:hover {
    background-color: lime;
    transition: 0.5s;
  }
</style>