<p class="user-content__photos-paragraph">
  Фотографии пользователя:
</p>
<div class="photos user-content__photos">
  <a class="photos__photo-link" href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="photos__photo"
      src="/images/user-photos/1.bmp"
      alt=""
    >
  </a>
  <a class="photos__photo-link" href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="photos__photo"
      src="/images/user-photos/2.bmp"
      alt=""
    >
  </a>
  <a class="photos__photo-link" href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="photos__photo"
      src="/images/user-photos/3.bmp"
      alt=""
    >
  </a>
  <a class="photos__photo-link" href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="photos__photo"
      src="/images/user-photos/4.bmp"
      alt=""
    >
  </a>
  <a class="photos__photo-link" href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="photos__photo"
      src="/images/user-photos/5.bmp"
      alt=""
    >
  </a>
  <a class="photos__photo-link" href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="photos__photo"
      src="/images/user-photos/6.bmp"
      alt=""
    >
  </a>
  <a class="photos__photo-link" href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="photos__photo"
      src="/images/user-photos/7.bmp"
      alt=""
    >
  </a>
  <a class="photos__photo-link" href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="photos__photo"
      src="/images/user-photos/8.bmp"
      alt=""
    >
  </a>
  <a class="photos__photo-link" href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="photos__photo"
      src="/images/user-photos/9.bmp"
      alt=""
    >
  </a>
  <a class="photos__photo-link" href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="photos__photo"
      src="/images/user-photos/10.bmp"
      alt=""
    >
  </a>
  <a class="photos__photo-link" href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="photos__photo"
      src="/images/user-photos/11.bmp"
      alt=""
    >
  </a>
  <a class="photos__photo-link" href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="photos__photo"
      src="/images/user-photos/12.bmp"
      alt=""
    >
  </a>
</div>