<p class="user-content__blog-paragraph">
  Посты:
</p>
{{#each data.posts}}
  <div class="blog user-content__blog">
    <div class="user-content__post post">
      <div class="post__time">
        28 февраля, 17:06
      </div>
      <div class="post__text">
        И пусть твоя <a class="classic-link" href="/7">мечта</a> осуществится, <br />
        Реальную приняв, земную плоть, <br />
        Пусть лучшее с тобой еще случится, <br />
        С <a class="classic-link" href="/7">мечтою</a> трудность сможешь побороть!
      </div>
      <div class="post__likes">
        168 likes
      </div>
    </div>
  </div>
{{/each}}
<div class="blog user-content__blog">
  <div class="user-content__post post">
    <div class="post__time">
      28 февраля, 17:06
    </div>
    <div class="post__text">
      И пусть твоя <a class="classic-link" href="/7">мечта</a> осуществится, <br />
      Реальную приняв, земную плоть, <br />
      Пусть лучшее с тобой еще случится, <br />
      С <a class="classic-link" href="/7">мечтою</a> трудность сможешь побороть!
    </div>
    <div class="post__likes">
      168 likes
    </div>
  </div>
</div>
<div class="blog user-content__blog">
  <div class="user-content__post post">
    <div class="post__time">
      18 февраля, 13:11
    </div>
    <div class="post__text">
      Вы не поверите. Но пятая лабораторная уже в сети.
      <a class="classic-link" href="/settings">
        Наслаждайтесь!
      </a>
    </div>
    <div class="post__likes">
      18333 likes
    </div>
  </div>
  <div class="user-content__post post">
    <div class="post__time">
      24 января, 18:07
    </div>
    <div class="post__text">
      Пацаны, я наконец-то сделал
      <a class="classic-link" href="/1-2">
        первую лабу
      </a>
      !!!
    </div>
    <div class="post__likes">
      0 likes
    </div>
  </div>
  <div class="user-content__post post">
    <div class="post__time">
      23 ноября 2022, 17:39
    </div>
    <div class="post__text">
      Всем привет, сегодня я поплакал.
    </div>
    <div class="post__likes">
      45 likes
    </div>
  </div>
  <div class="user-content__post post">
    <div class="post__time">
      14 сентября 2022, 08:36
    </div>
    <div class="post__text">
      Мы не рыбы, рыбы немы.
    </div>
    <div class="post__likes">
      14 likes
    </div>
  </div>
</div>