<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Посты</title>
  <link rel="stylesheet" href="/styles/cleaner.css">
  <link rel="stylesheet" href="/styles/all-posts.css">
  <script type="text/javascript" src="/scripts/page-starter.js"></script>
</head>
<body class="page">
{{>header}}
<div class="page__main main">
  <div class="main__about-user information-block">
    <div class="main__user-content user-content">
      {{>all_posts}}
    </div>
  </div>
</div>
{{>footer}}
</body>
</html>